  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4CC2AA;
    font-family: Arial, sans-serif;
  }
  
  .form-box {
    width: 100vw;
    background: hsla(97, 43%, 45%, 1);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  input,
  textarea {
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 10px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 110px;
    resize: flex;
  }
  
  button {
    width: 100%;
    padding: 5px;
    border: 3px solid black;
    border-radius: 100px;
    background: hsla(110, 78%, 42%, 1);
    color: orange;
    
    font-size: 30px;
    cursor: pointer;
  }